body {
	transition: background-color 1s ease-in-out;
}

body[meshed] {
	background-color: #221C24;
}

.node circle {
	fill: #B430FF;
}

.center {
	fill: #FFC93F;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
  font: 10px "Avenir Next";
	fill: white;
  pointer-events: none;
  text-anchor: middle;
}